/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #eeeeee;
}

/* Estilos para el título */
h1 {
    display: block;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #48e;
    width: 100%;
    font-size: 58px;
    padding: 20px;
}

/* Estilos para la zona de arrastre */
.zonaArrastre {
    position: relative;
    inset: 0;
    margin: auto;
    border: 4px dashed #999;
    height: 200px;
    width: 60%;
    display: grid;
    place-items: center;
    color: #999;
    background-color: #fff;
}
.zonaArrastre p {
    font-style: italic;
}

/* Estilos para los iconos de carga */
.fa-spinner,
.fa-check {
    position: absolute;
    font-size: 60px;
    display: none;
    opacity: 0;
}

.fa-check {
    color: green;
}

/* Animación de giro */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Estilos para la galería */
.galeria {
    position: relative;
    height: 500px;
    margin: 50px;
    margin-top: 35px;
    padding: 0;
    text-align: center;
}

/* Estilos para el título de la galería */
h2 {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}

/* Estilos para el botón de ver todo */
.verTodo {
    display: inline;
    padding: 10px;
    background-color: rgb(143, 204, 138);
    font-weight: 600;
    border-radius: 12px;
}

.verTodo:hover {
    background-color: green;
    cursor: pointer;
}

/* Estilos para la galería interna */
.galeriaScrolleable {
    position: relative;
    margin: 10px auto;
    border: 5px groove #000000;
    height: 400px;
    width: 90%;
    box-sizing: border-box;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap; /* Evita que las imágenes se apilen verticalmente */
    display: flex;
    align-items: center;
    scroll-behavior: smooth; /* Para un desplazamiento suave */
}

/* Estilos para las imágenes dentro de la galería */
.imagen {
    position: relative;
    height: 100%; /* Asegura que las imágenes se ajusten a la altura del contenedor */
    display: inline-block;
    margin-right: 5px;
    transition: all 0.3s ease;
    cursor: grab;
}

.imagen img {
    height: 100%;
    object-fit: contain; /* Asegura que las imágenes mantengan su proporción y se ajusten dentro del contenedor */
}

.imagen:last-child {
    margin-right: 0;
}

/* Estilos para los botones dentro de las imágenes */
.button-heart,
.button-close {
    position: absolute;
    top: 10px;
    cursor: pointer;
    display: none;
    font-size: 32px;
    color: #ffffff;
    opacity: 0.3;
}

.button-heart {
    right: 60px;
}

.button-heart:hover {
    color: green;
}

.button-close:hover {
    color: red;
}

.button-close {
    right: 20px;
}

.imagen:hover .button-heart,
.imagen:hover .button-close {
    opacity: 1;
}

/* Estilos para las flechas de navegación */
.arrow-left,
.arrow-right {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: #333;
    font-size: 56px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s linear;
    user-select: none;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow-left:active,
.arrow-right:active {
    color: gray;
    font-size: 44px;
}

/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1; /* Sitúa la ventana por encima del contenido principal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.modal-content {
    display: none; /* Oculta el contenido del modal por defecto */
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-height: 90%;
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
}

/* Estilos para la imagen dentro del modal */
#modal-img {
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#modal .modal-header {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
    border-bottom: 1px solid #888;
}

#modal .modal-header i {
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

#modal .modal-header i:hover, .modal-header a:hover {
    color: #bbb;
}

#modal .modal-header .fa-heart:hover {
    color: #4e8;
}
#modal .modal-header .fa-download:hover {
    color: #48e;
}
#modal .modal-header .close:hover {
    color: #e48;
}

/* Agrega este código a tu hoja de estilo CSS */

/* Estilos para el modal de "Ver todas las imágenes" */
#all-images-modal {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
}

#all-images-modal .modal-content {
    display: flex;
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: #aaa;
}

.modal-header {
    display: flex;
    justify-content: flex-start; /* Alinea el menú a la izquierda */
    align-items: flex-start; /* Alinea el menú arriba */
    padding: 20px; /* Aumenta el espacio alrededor del menú */
    background-color: #333;
    color: #fff;
}


.closeAll {
    position: absolute; /* Posiciona la cruz de forma absoluta */
    top: 5px; /* Ajusta la posición vertical */
    left: 8px; /* Ajusta la posición horizontal */
    cursor: pointer;
}

.closeAll:hover{
    color: #e48;
}

.menu {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    gap: 10px;
    width: auto; /* Ajusta el ancho del menú */
    margin-top: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #555;
}

.tab.active {
    background-color: #bbb;
}

.modal-body {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan en múltiples líneas */
    margin: 2.5px;
    padding: 5px;
    width: 80%; /* Ajusta el ancho del área de imágenes */
}

.image-area {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    flex-wrap: wrap;
}

.image-area img {
    width: calc(25% - 10px); /* Ancho para que quepan 4 imágenes por fila */
    height: 100px;
    margin: 5px;
    box-sizing: border-box; /* Incluye el borde en el tamaño total */
    object-fit: contain; /* Ajusta la imagen para que cubra el contenedor */
    border: 1px solid #ddd;
    cursor: pointer;
}

/* Estilos para el botón de retroceso */
.back-button {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0; /* Eliminamos el relleno */
    width: 30px; /* Definimos un ancho */
    height: 30px; /* Definimos una altura */
    border-radius: 50%; /* Hacemos que tenga forma de círculo */
    cursor: pointer;
    z-index: 10;
    display: flex; /* Usamos flexbox para centrar el ícono */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

.back-button i {
    font-size: 16px; /* Ajustamos el tamaño del ícono */
}

.back-button:hover{
    color: #bbb;
}

