/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
}

/* Estilos para el título */
h1 {
    font-family: "Oswald", sans-serif;
    display: block;
    text-align: center;
    margin: 10px auto 20px;
    width: 100%;
    font-size: 58px;
    padding: 15px;
    color: beige;
}

/* Loader (decorativo) */
.loader {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    top: 130px;
}

.loader::before {
    content: "";
    position: absolute;
    background-color: rgb(9, 161, 188);
    width: 0%;
    height: 100%;
    border-radius: 2px;
    animation: load 2s ease-in-out forwards;
    box-shadow: rgb(9, 161, 188) 0px 2px 29px 0px;
}

.container {
    display: flex;
    justify-content: center;
}

@keyframes load {
    100% {
    width: 100%;
    }
}


/* Estilos para la zona de arrastre */
.zonaArrastre {
    position: relative;
    inset: 0;
    margin: auto;
    border: 4px dashed #999;
    height: 200px;
    width: 60%;
    display: grid;
    place-items: center;
    color: #999;
    background-color: rgb(253, 253, 237);
    cursor: pointer;
}
.zonaArrastre p {
    font-style: italic;
}

/* Estilos para los iconos de carga */
.fa-spinner,
.fa-check {
    position: absolute;
    font-size: 60px;
    display: none;
    opacity: 0;
}

.fa-check {
    color: green;
}

/* Animación de giro */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Estilos para la galería */
.galeria {
    position: relative;
    height: 500px;
    margin: 50px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

/* Estilos para el título de la galería */
h2 {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: beige;

}

/* Estilos para el botón de ver todo */
.verTodo {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: beige;
    --button_outline_color: #000000;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    cursor: pointer;
}

.button_top {
    font-family: "Oswald", sans-serif;
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.verTodo:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.verTodo:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}


/* Estilos para la galería interna */
.galeriaScrolleable {
    position: relative;
    margin: 10px auto;
    border: 5px groove #000000;
    height: 400px;
    width: 90%;
    box-sizing: border-box;
    background-color: beige;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap; /* Evita que las imágenes se apilen verticalmente */
    display: flex;
    align-items: center;
    scroll-behavior: smooth; /* Para un desplazamiento suave */
}

/* Estilos para las imágenes dentro de la galería */
.imagen {
    position: relative;
    height: 100%; /* Asegura que las imágenes se ajusten a la altura del contenedor */
    display: inline-block;
    margin-right: 5px;
    transition: all 0.3s ease;
    cursor: grab;
}

.imagen img {
    height: 100%;
    object-fit: contain; /* Asegura que las imágenes mantengan su proporción y se ajusten dentro del contenedor */
}

.imagen:last-child {
    margin-right: 0;
}

/* Estilos para los botones dentro de las imágenes */
.button-heart,
.button-close {
    position: absolute;
    top: 10px;
    cursor: pointer;
    display: none;
    font-size: 32px;
    color: #ffffff;
    opacity: 0.3;
}

.button-heart {
    right: 60px;
}

.button-heart:hover {
    color: green;
}

.button-close:hover {
    color: red;
}

.button-close {
    right: 20px;
}

.imagen:hover .button-heart,
.imagen:hover .button-close {
    opacity: 1;
}

/* Estilos para las flechas de navegación */
.arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    line-height: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s linear;
    user-select: none;
    --font-color: #323232;
    --bg-color: beige;
    --main-color: #323232;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 46px;
    font-weight: 600;
    color: var(--font-color);
}


.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow:active{
    box-shadow: 0px 0px var(--main-color);
}

/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1; /* Sitúa la ventana por encima del contenido principal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.modal-content {
    display: none; /* Oculta el contenido del modal por defecto */
    position: relative;
    background-color: beige;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-height: 90%;
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
}

/* Estilos para la imagen dentro del modal */
#modal-img {
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#modal .modal-header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(95, 65, 47);
    padding: 10px;
    border-bottom: 1px solid #888;
}

#modal .modal-header i {
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

#modal .modal-header i:hover, .modal-header a:hover {
    color: #bbb;
}

#modal .modal-header .fa-heart:hover {
    color: #4e8;
}
#modal .modal-header .fa-download:hover {
    color: #48e;
}
#modal .modal-header .close:hover {
    color: #e48;
}

/* Agrega este código a tu hoja de estilo CSS */

/* Estilos para el modal de "Ver todas las imágenes" */
#all-images-modal {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
}

#all-images-modal .modal-content {
    display: flex;
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: rgb(253, 253, 237);

}

.modal-header {
    display: flex;
    justify-content: flex-start; /* Alinea el menú a la izquierda */
    align-items: flex-start; /* Alinea el menú arriba */
    padding: 20px; /* Aumenta el espacio alrededor del menú */
    background-color: rgb(95, 65, 47);
    color: #fff;
}


.closeAll {
    position: absolute; /* Posiciona la cruz de forma absoluta */
    top: 5px; /* Ajusta la posición vertical */
    left: 8px; /* Ajusta la posición horizontal */
    cursor: pointer;
}

.closeAll:hover{
    color: #e48;
}

.menu {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    gap: 10px;
    width: auto; /* Ajusta el ancho del menú */
    margin-top: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    color: #333;
    background-color: rgb(215, 215, 193);

}

.tab.active {
    background-color: rgb(238, 238, 217);
}

.modal-body {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan en múltiples líneas */
    margin: 2.5px;
    padding: 5px;
    width: 80%; /* Ajusta el ancho del área de imágenes */
}

.image-area {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* Alinea las filas al inicio del contenedor */
}

.image-area img {
    width: calc(25% - 10px); /* Ancho para que quepan 4 imágenes por fila */
    height: 100px;
    margin: 5px;
    object-fit: contain; /* Ajusta la imagen para que cubra el contenedor */
    cursor: pointer;
    box-shadow: #323232;
}

/* Estilos para el botón de retroceso dentro del modal */
.back-button {
    position: absolute; /* Posiciona el botón de forma absoluta */
    top: 5px; /* Ajusta la posición vertical */
    left: 8px; /* Ajusta la posición horizontal */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0; /* Eliminamos el relleno */
    width: 30px; /* Definimos un ancho */
    height: 30px; /* Definimos una altura */
    border-radius: 50%; /* Hacemos que tenga forma de círculo */
    cursor: pointer;
    z-index: 10;
    display: flex; /* Usamos flexbox para centrar el ícono */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

.back-button i {
    font-size: 16px; /* Ajustamos el tamaño del ícono */
}

.back-button:hover {
    color: #bbb;
}


